# Godot Engine:
.godot/*
*.translation

# Ignore:
etc/ignore/*

# Builds:
etc/builds/linux/*
etc/builds/mac/*
etc/builds/web/*
etc/builds/win/*
etc/builds/build.cfg
!etc/builds/linux/.itch
!etc/builds/mac/.itch
!etc/builds/web/.itch
!etc/builds/win/.itch

# Python:
__pycache__/*
*$py.class
*.pyc
*.pyd
*.pyo

# IDE:
.idea/*
.vscode/*
*.code-workspace
*.sublime-project
*.sublime-workspace
*.suo

# OS:
.DS_Store
desktop.ini
Thumbs.db
