# Builds:
builds/linux/*
builds/mac/*
builds/web/*
builds/win/*
!builds/linux/.itch
!builds/mac/.itch
!builds/web/.itch
!builds/win/.itch

# Godot Engine:
.godot/*

# IDE:
.idea/*
.vscode/*
*.code-workspace
*.sublime-project
*.sublime-workspace
*.suo

# OS:
.DS_Store
desktop.ini
Thumbs.db
